.section {
    margin: 96px 0;

    @media (max-width: $tablet) {
        margin: 50px 0;
    }
}

.section-header {
    text-align: center;

    &_left {
        text-align: left;
    }

    &_right {
        text-align: right;
    }
}

.section-header__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 50px;
    font-weight: 300;
    color: $firm-dark;

    & span {
        color: $firm-accent;
    }
}

.section-text {
    font-size: 18px;
    font-weight: 300;
    margin-top: 24px;
}

.section-button {
    margin-top: 48px;
}