// Предложение пройти опрос
.popup-offer {
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    max-width: 822px;
    // width: 100%;
    width: calc(100% - 32px);
    background: $frame-dark;
    border-radius: $radius-round;
    transition: transform ease-in-out .5s, bottom ease-in-out .5s;
    pointer-events: none;

    @media (max-width: $mobile-l) {
        border-radius: 20px;
        width: calc(100% - 20px);
    }
    
    &._show {
        bottom: 32px;
        transform: translate(-50%, 0);
        pointer-events: all;

        @media (max-width: 560px) {
            bottom: 16px;
        }

        @media (max-width: $mobile-l) {
            bottom: 10px;
        }
    }
}

.po__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 16px 24px;
    
    @media (max-width: 560px) {
        flex-direction: column;
        padding: 16px;
    }

    @media (max-width: $mobile-l) {
        padding: 16px 24px;
    }
}

.po__text {
    color: $text-light;

    @media (max-width: $tablet) {
        font-size: 14px;
    }

    @media (max-width: 560px) {
        max-width: 260px;
        text-align: center;
    }

    @media (max-width: $mobile-l) {
    }
}

.po__buttons {
    display: flex;
    align-items: center;
    margin-left: 12px;
    
    @media (max-width: 560px) {
        margin: 16px 0 0 0;
    }

    & > * {

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.po__hide {

}

.po__start,
.po__hide {

    @media (max-width: $mobile-l) {
        height: 32px;
    }
}