.quiz {
    margin: -78px 0 128px 0;
}

.quiz-slider {
    width: 100%;
    transition: opacity $tr;

    &._hide {
        opacity: 0;
        pointer-events: none;
    }
}

$quiz-padding: 32px;
$quiz-padding-tablet: 24px;
$quiz-padding-mob: 16px;

.quiz-slide {
    display: flex;
    justify-content: center;
    pointer-events: none !important;

    &.swiper-slide-active {

        & .quiz-modal {
            pointer-events: all;
        }
    }
}

.quiz-modal {
    max-width: 927px;
    width: 100%;
    min-height: 528px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $radius-m;
    overflow: hidden;
    background: #fff;
    box-shadow: $shadow-gray;

    @media (max-width: $tablet) {
        border-radius: 0;
    }

    @media (max-width: $mobile-l) {
        min-height: 450px;
    }
}

// Шапка модалки
.quiz-modal__header {
    position: relative;
    width: 100%;
    min-height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $firm-accent;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    padding: 8px $quiz-padding;

    @media (max-width: $tablet) {
        min-height: 70px;
        font-size: 15px;
        padding: 8px $quiz-padding-tablet;
    }

    @media (max-width: $mobile-l) {
        flex-direction: column;
        // justify-content: flex-start;
        justify-content: center;
        min-height: 60px;
        font-size: 14px;
        text-align: center;
        padding: 10px $quiz-padding-mob;
    }
}

.quiz-modal__quiz-title {
    
    .quiz-slider_professionals & {
        display: none;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 6px;
    }
}

.quiz-modal__score {
    white-space: nowrap;

    .quiz-slider_professionals & {
        margin-left: auto;
    }

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }
}

.quiz-modal__progressbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
    height: 4px;
    background: #fff;

    .quiz-slider_calc-amount & {
        display: none;
    }

    @media (max-width: $tablet) {
        left: $quiz-padding-tablet;
    }

    @media (max-width: $mobile-l) {
        left: $quiz-padding-mob;
    }
}

// Тело модалки
.quiz-modal__body {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $quiz-padding $quiz-padding 0;

    @media (max-width: $tablet) {
        padding: $quiz-padding-tablet $quiz-padding-tablet 0;
    }

    @media (max-width: $mobile-l) {
        padding: 24px $quiz-padding-mob 0;
    }
}

.quiz-modal__title {
    font-size: 28px;
    font-weight: 300;
    color: $firm-dark;
    line-height: 1.1;
    letter-spacing: -.02;

    & span {
        color: $firm-accent;
    }

    @media (max-width: $tablet) {
        font-size: 24px;
    }

    @media (max-width: $mobile-l) {
        font-size: 20px;
    }
}

.quiz-modal__subtitle {
    font-size: 16px;
    color: $firm-accent;
    line-height: 1.2;

    @media (max-width: $mobile-l) {
        font-size: 15px;
    }
}

.quiz-modal__content {
    flex: 1 0 auto;
    margin-top: 32px;

    @media (max-width: $tablet) {
        margin-top: 24px;
    }
}

.qmc_large-indent {
    margin-top: 96px;

    @media (max-width: $tablet) {
        margin-top: 64px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 32px;
    }
}

// Подвал модалки
.quiz-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $quiz-padding $quiz-padding;
    margin-top: 48px;

    @media (max-width: $tablet) {
        padding: 0 $quiz-padding-tablet $quiz-padding-tablet;
    }

    @media (max-width: $mobile-l) {
        padding: 0 $quiz-padding-mob $quiz-padding-mob;
    }
}

.quiz-modal__btn {
    display: flex;
    align-items: center;
    border-radius: $radius-s;
    padding: 12px 20px;

    @media (max-width: $mobile-l) {
        padding: 12px 14px;
    }

    &_prev {
        color: $text-gray-light;
        background: #F6F7F9;

        &:hover {
            
            @media (min-width: $min-hover) {
                background: brig-color(#F6F7F9, hover);
            }
        }

        &:active {
            background: brig-color(#F6F7F9, active);
        }

        & .quiz-modal__btn-icon {
            margin-right: 10px;
        }
    }

    &_next {
        color: #fff;
        background: $firm-accent;
        margin: 0 0 0 auto;

        & .quiz-modal__btn-icon {
            margin-left: 10px;
        }
    }

    &_submit {

        @media (max-width: $mobile-l) {
            
            & .quiz-modal__btn-icon {
                display: none;
            }
        }
    }
}


.quiz-modal__btn-text {
    font-size: 16px;

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}

.quiz-modal__btn-icon {
    width: 16px;
    height: 8px;
}

// Стили для содержимого слайда
// 1
.qmca-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    align-items: center;

    @media (max-width: $tablet) {
        gap: 16px;

        & .qmca-rcard__point {
            top: 16px;
            left: 16px;
        }
    }

    @media (max-width: $mobile-l) {

        & .qmca-rcard__point {
            top: 12px;
            left: 12px;
        }
    }

    & .qmca-rcard__radio {

        &:checked {

            & ~ .qmca-rcard__img {
                filter: grayscale(0);
            }
        }
    }

    & .qmca-rcard__img {
        border-color: transparent;
        filter: grayscale(1);

        & img {
            object-fit: cover;
        }

        &::before {
            padding-top: 67%;
        }
    }
}

// 13
.qmca-13 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    justify-content: center;

    @media (max-width: $tablet) {
        gap: 16px;
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, minmax(min-content, 180px));
    }

    & .qmca-rcard__point {
        top: 16px;
        left: 16px;

        @media (max-width: $mobile-l) {
            top: 12px;
            left: 12px;
        }
    }

    & .qmca-rcard__img {
        filter: grayscale(0);

        &::before {
            padding-top: 125%;
        }
    }
}

// 14
.qmca-14 {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }
}

.qmca-14__rcards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 48px;
    justify-content: center;

    @media (max-width: $laptop) {
        gap: 32px;
    }

    @media (max-width: $tablet) {
        gap: 16px;
    }

    @media (max-width: $mobile-l) {
        grid-template-columns: repeat(2, minmax(min-content, 120px));
    }
}

.qmca-14__range {
    width: 100%;
    margin-top: 32px;

    & .qmca-range {

        & .rangeslider {
            margin-top: 48px;

            @media (max-width: $tablet) {
                margin-top: 32px;
            }

            @media (max-width: $mobile-l) {
                margin-top: 24px;
            }
        }
    }
}

// 16
.qmca-16 {
    margin-top: 48px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }
}

.qmca-16__rcards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    justify-content: center;

    @media (max-width: $laptop) {
        gap: 16px;
    }

    @media (max-width: $tablet) {
        grid-template-columns: repeat(3, minmax(min-content, 120px));
    }

    @media (max-width: $mobile-l) {
        grid-template-columns: repeat(2, minmax(min-content, 120px));
    }
}

.qmca-16__range {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }

    & .qmca-range {

        & .rangeslider {
            margin-top: 48px;

            @media (max-width: $tablet) {
                margin-top: 32px;
            }

            @media (max-width: $mobile-l) {
                margin-top: 24px;
            }
        }
    }
}

// 17
.qmca-17 {
    max-width: 640px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 48px;

    @media (max-width: $laptop) {
        gap: 24px;
    }

    @media (max-width: $tablet) {
        gap: 16px;
        margin-top: 32px;
    }

    @media (max-width: $mobile-l) {
        grid-template-columns: repeat(2, minmax(min-content, 120px));
    }
}

// 18
.qmca-18__table {
    max-height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 600px) {
        max-height: none;
    }
}

.qmca-18__row {
    max-width: 400px;
    width: 48%;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 0;
    margin-right: 32px;

    @media (max-width: 600px) {
        max-width: none;
        width: 100%;
        justify-content: space-between;
    }

    @media (max-width: $mobile-l) {
        font-size: 15px;
        padding: 8px 0;
    }
}

.qmca-18__row-title {
    width: 70%;
    display: block;
    color: $text-gray-light;
    padding: 0 12px 0 0;

    @media (max-width: 600px) {
        width: auto;
    }
}

.qmca-18__row-text {
    width: 30%;
    display: block;
    color: $firm-dark;

    @media (max-width: 600px) {
        width: auto;
        text-align: right;
    }
}

// 19
.qmca-19-form {
    max-width: 400px;


    & > * {

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.qmca-19__input-file {
    display: none;
}

.qmca-19-correction {
    display: inline-block;
    font-size: 14px;
    color: $text-gray-light;
    line-height: 1.2;
    margin-top: 60px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 24px;
    }

    & a {
        color: $firm-accent;

        &:hover {
            
            @media (min-width: $min-hover) {
                color: #4BADF1;
            }
        }

        &:active {
            color: #0C7FF8;
        }
    }
}


// Radio-блоки первого слайда
.qmca-rcard {
    height: fit-content;
    position: relative;
}

.qmca-rcard__radio {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

    &:checked {

        & ~ .qmca-rcard__img {
            border-color: $firm-accent;
        }

        & ~ .qmca-rcard__title {
            color: $firm-accent;
        }

        & ~ .qmca-rcard__point {
            background: $firm-accent;

            &::before {
                width: 50%;
                height: 50%;
            }
        }
    }
}

.qmca-rcard__point {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(50, 138, 230, 0.2);
    pointer-events: none;
    transition: $tr;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        background: #fff;
        border-radius: 50%;
        transition: $tr;
    }
}

.qmca-rcard__img {
    position: relative;
    width: 100%;
    border-radius: $radius-m;
    overflow: hidden;
    border: 1px solid $border-textfield;
    transition: $tr;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    & img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: contain;
    }
}

.qmca-rcard__title {
    display: block;
    font-size: 16px;
    color: $firm-dark;
    text-align: center;
    transition: $tr;
    margin-top: 24px;

    @media (max-width: 650px) {
        font-size: 14px;
        margin-top: 18px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 12px;
    }
}

// Для контентной части с ползунком
.qmca-range__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.qmca-range {
    max-width: 654px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .rangeslider {
        width: 100%;
        margin-top: 66px;

        @media (max-width: $mobile-l) {
            margin-top: 48px;
        }

        @media (max-width: $tablet) {
            margin-top: 32px;
        }

        @media (max-width: $mobile-l) {
            margin-top: 24px;
        }

        & .rangeslider__fill {
            height: 4px;
            background: $firm-accent;
            border-radius: 10px;
        }

        & .rangeslider__fill__bg {
            height: 4px;
            background: #EDEEF2;
            border-radius: 10px;
        }

        & .rangeslider__handle {
            width: 32px;
            height: 32px;
            background: $firm-accent;
            border: 8px solid #fff;
            border-radius: 50%;
            box-shadow: 0px 8px 16px rgba(34, 19, 77, 0.07);
        }
    }
}

.qmca-range__textfield {
    width: 128px;
    height: 44px;
    font-size: 18px;
    font-weight: 300;
    color: $firm-dark;
    text-align: center;
    border: 1px solid $border-textfield;
    border-radius: $radius-s;
    padding: 10px 12px;

    @media (max-width: $mobile-l) {
        font-size: 16px;
    }

    &::-webkit-outer-spin-button, 
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// Блок с пунктами выбора
.qs-modal__content {

    & > * {
        
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.qs-block__textfield {
    margin-top: 24px;

    @media (max-width: $mobile-l) {
        margin-top: 16px;
    }
}

.qs-block__list {
    margin-top: 24px;

    & > * {

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

// Номера слайдов квиза в popup
// 4
.qmp-4 {
    display: grid;
    grid-template-columns: minmax(min-content, 155px) minmax(min-content, 120px);
    gap: 48px;

    @media (max-width: $mobile-l) {
        gap: 24px;
    }
}

.qmp-4-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.qmp-4-card__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

    &:checked {

        & ~ .qmp-4-card__title {
            color: $firm-accent;
        }
    }
}

.qmp-4-card__img {
    flex: 1 0 auto;

    & img {
        object-position: bottom;
    }
}

.qmp-4-card__title {
    font-size: 14px;
    color: $text-gray-light;
    line-height: 1.2;
    margin-top: 16px;
    transition: $tr;
}

// Блок загрузки файлов
.quf-block {

    & .quiz-modal__subtitle {
        color: $text-gray-light;
    }
}

.quf-dropzone {
    position: relative;
    min-height: 48px !important;
    border: 1px dashed $firm-accent !important;
    padding: 14px 20px !important;
    margin-top: 24px;
    transition: $tr;

    &.is-dragenter {
            border: 1px dashed brig-color($firm-accent, -20%) !important;
            background: rgba(19, 87, 160, .1);
            
            & .quf-dropzone__content {
                color: brig-color($firm-accent, -20%);
            }
    }

    &.is-full {

        & .quf-dropzone__icon,
        & .quf-dropzone__text {
            display: none;
        }

        & .quf-dropzone__info {
            display: inline;
        }
    }

    &::after {
        content: attr(data-error);
        position: absolute;
        bottom: -6px;
        right: 0;
        transform: translate(0, 100%);
        font-size: 12px;
        color: $error;
        text-align: right;
    }

    @media (any-hover: hover) {
        
        &:hover {
            border: 1px dashed brig-color($firm-accent, -20%) !important;
    
            & .quf-dropzone__content {
                color: brig-color($firm-accent, -20%);
            }
        }
    }

    // & .dz-preview {
        
    //     @media (max-width: $mobile-l) {
    //         margin: 8px !important;
    //     }

    //     & .dz-image {
            
    //         @media (max-width: $mobile-l) {
    //             width: 100px !important;
    //             height: 100px !important;
    //         }
    //     }
    // }

    // & .dz-default.dz-message {
    //     display: none;
    // }

    // &.dz-started {

    //     & .quf-dropzone__content {
    //         display: none;
    //     }
    // }

    // & .dz-remove {
    //     margin-top: 8px;
    // }

    // &.dz-drag-hover,
    // &:hover {
    //     border: 1px dashed brig-color($firm-accent, -20%) !important;

    //     & .quf-dropzone__content {
    //         color: brig-color($firm-accent, -20%);
    //     }
    // }
}

.quf-dropzone__content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $firm-accent;
    line-height: 1.2;
    pointer-events: none;
    transition: $tr;

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}

.quf-dropzone__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.quf-dropzone__info {
    display: none;
}

.quf-dropzone__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    // display: none;
}