// Подменю
.sub-menu {
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 0;
    width: 100%;
    background: $frame-light;
    transition: $tr;
    
    @media (max-width: $laptop) {
        position: initial;
        bottom: auto;
        left: auto;
        max-height: 0;
        overflow: hidden;
    }
}

.sub-menu__wrap {
    padding: 48px 0;
    

    @media (max-width: $laptop) {
        padding: 24px 0;
    }
}

.sub-menu__title {
    font-size: 21px;
    color: $firm-dark;

    @media (max-width: $laptop) {
        display: none;
    }
}

.sub-menu__list {
    display: flex;
    border-top: 1px solid $outline-dark;
    padding-top: 48px;
    margin-top: 32px;

    & > .sb-card {

        &:not(:last-child) {
            margin-right: 96px;

            @media (max-width: $laptop) {
                margin: 0 0 24px 0;
            }
        }
    }

    @media (max-width: $laptop) {
        flex-direction: column;
        border-top: none;
        padding: 0;
        margin: 0;
    }
}

// Карточка
.sb-card {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:hover {

        & .sb-card__title {
            color: $firm-accent;
        }
    }

    @media (max-width: $laptop) {
        max-width: none;
    }
}

.sb-card__title {
    font-size: 21px;
    color: $firm-dark;
    transition: $tr;

    @media (max-width: $laptop) {
        font-size: 16px;
    }
}

.sb-card__text {
    font-size: 14px;
    color: $text-gray-light;
    line-height: 1.4;
    margin-top: 16px;

    @media (max-width: $laptop) {
        margin-top: 9px;
    }
}