.footer {
    background: $frame-dark;
    padding-top: 72px;

    @media (max-width: $tablet) {
        padding-top: 50px;
    }
}

.footer__body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: 48px;

    @media (max-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 24px;
        padding: 0 0 80px 0;
    }

    @media (max-width: $mobile-l) {
        grid-template-columns: 1fr;
        gap: 32px 0;
        padding-bottom: 60px;
    }
}

.footer-column {
    margin-bottom: 48px;

    &:not(:last-child) {
        margin-right: 72px;

        @media (max-width: $tablet) {
            margin: 0;
        }
    }

    @media (max-width: $tablet) {
        margin: 0;
    }

	&.has-menu-items {

		& .footer-column__list {

			& li {

				&:first-child {
					margin-bottom: 32px;

					& a {
						font-size: 16px;
						color: $text-light;
					}
				}
			}
		}
	}
}

.footer-column__title {
    font-size: 16px;
    color: $text-light;
    margin-bottom: 32px;
}

.footer-column__list {

    & li {

        &:not(:last-child) {
            margin-bottom: 24px;

            @media (max-width: $mobile-l) {
                margin-bottom: 16px;
            }
        }

        & a {
            color: $text-light-second;
            line-height: 1.2;

            @media (min-width: $min-hover) {

                &:hover {
                    color: $text-light;
                }
            }

            &.footer-link-light {
                color: $text-light;

                @media (min-width: $min-hover) {

                    &:hover {
                        color: $firm-accent;
                    }
                }
            }
        }
    }
}

.footer-column__list-social {
    display: flex;
    align-items: center;

    & li {

        &:not(:last-child) {
            margin-right: 16px;
        }

        & a {
            display: block;
            width: 24px;
            height: 24px;
        }
    }
}

.footer__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 32px 0;
    margin-top: 48px;

    @media (max-width: $tablet) {
        flex-direction: column;
    }

    @media (max-width: $mobile-l) {
        margin-top: 16px;
    }
}

.footer__docs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $tablet) {
        justify-content: center;
        margin-bottom: 24px;
    }

    @media (max-width: $mobile-l) {
        flex-direction: column;
        margin-bottom: 0;
    }

    & li {
        margin-bottom: 8px;

        @media (max-width: $mobile-l) {
            margin-bottom: 12px;
        }

        &:not(:last-child) {
            margin-right: 24px;

            @media (max-width: $mobile-l) {
                margin-right: 0;
            }
        }

        & a {
            color: $text-light-second;

            @media (max-width: $mobile-l) {
                font-size: 14px;
            }

            @media (min-width: $min-hover) {

                &:hover {
                    color: $text-light;
                }
            }
        }
    }
}

.footer__copyright {
    color: $text-light-second;
    text-align: right;
    white-space: nowrap;
    margin: 0 0 8px 16px;

    @media (max-width: $tablet) {
        margin: 0;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}
