.main {
    position: relative;
    background: $frame-dark;
}

.main_static {
    position: relative;
    background: center/cover no-repeat;

    & .main__wrap {
        position: relative;
        z-index: 1;
    }
}

.main__wrap {
    min-height: 400px;
    max-height: 692px;
    height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: $mobile-l) {
        max-height: 470px;
        height: calc(100vh - 60px);
    }
}

// Слайдер
.main__slider {
    position: relative;
    z-index: 2;
    width: 100%;
}

// Номер активного слайда
.ms-num {
    @include overlay;
    z-index: 1;
    pointer-events: none;

    & .container {
        height: 100%;
    }
}

.ms-num__wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.ms-num__elem {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $outline-light;
    border-radius: $radius-round;
    // pointer-events: all;    
}

.ms-num__digit {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.ms-num__outline {
    @include overlay();
    transform: scale(1.04);
}

#progress-slider {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    
    &._active {
        animation: animationActive 2s linear forwards;
    }

    &._reset {
        animation-direction: reverse;
        animation-duration: .5s !important;
        // animation: animationReset .5s linear forwards !important;
    }
}

  
@keyframes animationActive {
    to {
        stroke-dashoffset: 0;
    }
}
  
@keyframes animationReset {
    to {
        stroke-dashoffset: 150;
    }
}

// Блок с текстом
// mc - main content
.mc-block {
    position: relative;
    z-index: 2;
}

.mc-block__wrap {
    display: flex;
    flex-direction: column;
    color: $text-light;
}

.mc-block__title {
    max-width: 640px;
    font-size: 68px;
    font-weight: 300;

    @media (max-width: $tablet) {
        font-size: 50px;
    }

    @media (max-width: $mobile-l) {
        font-size: 40px;
    }
}

.mc-block__text {
    font-size: 21px;
    font-weight: 300;
    margin-top: 24px;

    @media (max-width: $tablet) {
        font-size: 19px;
    }
}

.mc-block__tools {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
}

.mc-block__more {

}

.main__tools {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: 48px;

    @media (max-width: $mobile-l) {
        position: initial;
    }
}

.main__slider-buttons {
    width: 210px;
}

// Стрелки слайдера
.main__slider-arrows {
    display: flex;
    align-items: center;
    margin-left: 32px;

    @media (max-width: $mobile-l) {
        position: absolute;
        bottom: 35px;
        left: 16px;
        margin: 0;
    }
}

.main__slider-arrow {
    position: relative;
    width: 63px;
    height: 24px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        width: 100%;
        height: calc(100% + 12px);
    }

    & svg {
        stroke: $text-light;
    }

    &:not(:last-child) {
        margin-right: 16px;
    }
}

.main__slider-arrow_prev {

}

.main__slider-arrow_next {

}

// Фон
.main__bg {
    @include overlay;

    & img {
        object-fit: cover;
    }
}

.main__bg-slide {

    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
