.main {
    position: relative;
    background: $frame-dark;

    &_light {
        background: none;

        & .mc-block__wrap {
            color: $firm-dark;
        }

        & .breadcrumbs {

            & li {
                color: $firm-accent;

                &:not(:last-child) {
        
                    &::after {
                        background: $firm-dark;
                    }
                }
                
                & a {
                    color: $text-gray-dark;

                    &:hover {
                        
                        @media (min-width: $min-hover) {
                            color: $link-hover;
                        }
                    }
                
                    &:active {
                        color: $link-active;    
                    }
                }
            }
        }
    }

    &_blue {
        background: $frame-light;

        & .main__wrap {
            max-height: none;
            height: auto;
            padding: 128px 0 64px 0;
        }

        & .breadcrumbs {

            & li {
                color: $firm-accent;

                &:not(:last-child) {
        
                    &::after {
                        background: $firm-dark;
                    }
                }
                
                & a {
                    color: $text-gray-dark;

                    &:hover {
                        
                        @media (min-width: $min-hover) {
                            color: $link-hover;
                        }
                    }
                
                    &:active {
                        color: $link-active;    
                    }
                }
            }
        }
    }
}

.main_quiz {

    & .main__wrap {
        padding: 64px 0;
    }
}

.main_static {
    position: relative;
    background: center/cover no-repeat;

    & .main__wrap {
        position: relative;
        z-index: 1;
    }
}

.main__wrap {
    min-height: 400px;
    max-height: 692px;
    height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: $mobile-l) {
        max-height: 470px;
        height: calc(100vh - 60px);
    }
}

// Слайдер
.main__slider {
    position: relative;
    z-index: 2;
    width: 100%;
}

// Номер активного слайда
.ms-num {
    @include overlay;
    z-index: 1;
    pointer-events: none;

    & .container {
        height: 100%;
    }
}

.ms-num__wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.ms-num__elem {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-light;
    border-radius: $radius-round; 
}

.ms-num__digit {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.ms-num__outline {
    @include overlay();
    transform: scale(1.04);
}

#progress-slider {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    
    &._active {
        animation: animationActive 2s linear forwards;
    }

    &._reset {
        animation-direction: reverse;
        animation-duration: .5s !important;
    }
}

  
@keyframes animationActive {
    to {
        stroke-dashoffset: 0;
    }
}
  
@keyframes animationReset {
    to {
        stroke-dashoffset: 150;
    }
}

// Блок с текстом
// mc - main content
.mc-block {
    position: relative;
    z-index: 2;
}

.mc-block__wrap {
    display: flex;
    flex-direction: column;
    color: $text-light;
}

.mc-block__title {
    max-width: 640px;
    font-size: 68px;
    font-weight: 300;

    @media (max-width: $tablet) {
        font-size: 50px;
    }

    @media (max-width: $mobile-l) {
        font-size: 40px;
    }
}

.mc-block__text {
    font-size: 21px;
    font-weight: 300;
    margin-top: 24px;

    @media (max-width: $tablet) {
        font-size: 19px;
    }
}

.mc-block__tools {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
}

.main__tools {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: 48px;

    @media (max-width: $mobile-l) {
        position: initial;
    }
}

.main__slider-buttons {
    width: 210px;
}

// Стрелки слайдера
.main__slider-arrows {
    display: flex;
    align-items: center;
    margin-left: 32px;

    @media (max-width: $mobile-l) {
        position: absolute;
        bottom: 35px;
        left: 16px;
        margin: 0;
    }
}

.main__slider-arrow {
    position: relative;
    width: 63px;
    height: 24px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        width: 100%;
        height: calc(100% + 12px);
    }

    & svg {
        stroke: $text-light;
    }

    &:not(:last-child) {
        margin-right: 16px;
    }
}

// Фон на весь экран
.main-full-bg {
    @include overlay;

    & img {
        object-fit: cover;
    }
}

.main-full-bg-slide {

    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Фон на половину экрана
.main-half-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 78%;

}

.main-half-bg_phone {
    
    @media (max-width: 970px) {
        right: -110px; 
    }

    @media (max-width: 520px) {
        display: none;
    }
}

.main-half-bg__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
}

.main-half-bg__circle {
    position: absolute;
    top: 55%;
    left: 56%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #EDEEF2;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &:nth-child(1) {
        max-width: 385px;
        width: 34%;
    }

    &:nth-child(2) {
        max-width: 553px;
        width: 49%;
    }

    &:nth-child(3) {
        max-width: 745px;
        width: 66%;
    }
}