.a-clients {
    margin-top: 128px;

    @media (max-width: $laptop) {
        margin-top: 96px;
    }

    @media (max-width: $tablet) {
        margin-top: 50px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 32px;
    }
}

.a-clients__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -16px -12px;
    
    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.a-client {
    margin: 16px 48px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $tablet) {
        margin: 16px 32px;
    }
    
    @media (max-width: 600px) {
        max-width: 120px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @media (max-width: $mobile-l) {
        margin: 12px 20px;
    }

    @media (max-width: $mobile-m) {
        margin: 12px 16px;
    }

    @media (max-width: $mobile-m) {
        max-width: 100px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    & img {
        width: auto;
        height: auto;

        @media (max-width: $laptop) {
            width: 100%;
        }
    }
}