.interface-nav {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 64px 0;
    overflow: auto;
    @include scrollbar(100%, 6px)

    @media (max-width: $tablet) {
        padding: 24px 0;
    }

}

.interface-nav__wrap {

}

.interface-nav__list {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;

    & li {

        &:not(:last-child) {
            margin-right: 48px;
            
            @media (max-width: $laptop) {
                margin-right: 24px;
            }
            
            @media (max-width: $mobile-l) {
                margin-right: 16px;
            }
        }

        & a {
            font-size: 21px;
            font-weight: 300;
            
            @media (max-width: $laptop) {
                font-size: 18px;
            }
            
            @media (max-width: $tablet) {
                font-size: 16px;
            }
            
            @media (max-width: $mobile-l) {
                font-size: 15px;
            }
        }

        @media (max-width: $tablet) {
            
            &:last-child {
                padding-right: 16px;
            }
        }
    }
}