.s-script {
    padding: 64px 0;

    @media (max-width: $tablet) {
        padding: 48px 0;
    }

    &_dark {
        background: $firm-dark;

        & .section-title,
        & .section-text,
        & .ssc-content__slider-pagin,
        & .ssc-content__text {
            color: #fff;
        }

        & .ssc-content__arrow svg {
            stroke: #fff;
        }
    }

    &_bg-blue {
        background: $frame-light;
    }

    &_reverse {

        & .ssc__body {
            grid-template-columns: minmax(200px, 1fr) 1fr;

            & .ssc-content {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
}

.ssc__body {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1fr);
    gap: 70px;
    margin: 0 auto;
    margin-top: 54px;

    @media (max-width: $laptop) {
        gap: 60px;
    }

    @media (max-width: $tablet) {
        gap: 50px;
        margin-top: 48px;
    }

    @media (max-width: 650px) {
        gap: 32px;
    }

    @media (max-width: 500px) {
        gap: 24px;
    }

    @media (max-width: $mobile-l) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: initial;
        margin-top: 32px;
    }
}

.ssc__screen {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
	aspect-ratio: 1.5;

    @media (max-width: 650px) {
        min-width: 150px;
    }

    @media (max-width: $mobile-l) {
        max-width: 250px;
        margin: 0 auto;
    }

    &::before {
        content: '';
        display: block;
        padding-top: 200%;
    }
}

.ssc__screen-slider {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(0.93);

	& .swiper-slide {
		mask: center/contain no-repeat url("data:image/svg+xml,%3Csvg width=\"295\" height=\"638\" viewBox=\"0 0 295 638\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M259 0C278.882 0 295 16.1177 295 36V602C295 621.882 278.882 638 259 638H36C16.1177 638 0 621.882 0 602V36C0 16.1178 16.1178 0 36 0H70V1C70 13.1503 79.8497 23 92 23H203C215.15 23 225 13.1503 225 1V0H259Z\" fill=\"white\"/%3E%3C/svg%3E");
	}
}

.ssc__mask-phone {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    & svg {
        fill: $interface-dark;
    }
}

.ssc-content {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 500px) {
        width: 80%;
    }

    @media (max-width: $mobile-l) {
        width: 100%;
        margin-top: 24px;
    }
}

.ssc-content__slider-pagin {
    position: relative;
    font-size: 130px;
    font-weight: 300;
    color: $firm-accent;
    line-height: 1.1;
    margin-bottom: 24px;

    @media (max-width: $laptop) {
        font-size: 120px;
        margin-bottom: 16px;
    }

    @media (max-width: $tablet) {
        font-size: 110px;
    }

    @media (max-width: 650px) {
        font-size: 100px;
    }

    @media (max-width: 500px) {
        font-size: 80px;
    }

    &::after {
        content: '00';
        opacity: 0;
    }

    & .swiper-pagination-bullet {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: $tr;

        &-active {
            opacity: 1;
        }
    }
}


.ssc-content__text {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.6;

    @media (max-width: $laptop) {
        font-size: 18px;
    }

    @media (max-width: 650px) {
        font-size: 16px;
    }

    @media (max-width: 500px) {
        font-size: 14px;
    }
}

// Стрелки слайдера
.ssc-content__arrows {
    display: flex;
    align-items: center;
    margin-top: 48px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }

    @media (max-width: 650px) {
        margin-top: 24px;
    }
}

.ssc-content__arrow {
    width: 63px;
    height: 24px;

    & svg {
        stroke: $firm-dark;
    }

    &:not(:last-child) {
        margin-right: 16px;
    }

    &.swiper-button-disabled {
        opacity: .3;
        pointer-events: none;
    }
}