.s-steps {
    margin-bottom: 287px;

    @media (max-width: $tablet) {
        margin-bottom: 220px;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 150px;
    }
}

.s-steps-header__subtitle {
    color: $firm-accent;
    margin-top: 96px;

    @media (max-width: $tablet) {
        margin-top: 70px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 50px;
    }
}

.s-steps__body {
    display: flex;
    margin-top: 96px;

    @media (max-width: $tablet) {
        margin-top: 70px;

        & > .s-steps__column:not(.s-steps__column-center) {
            display: none;
        }
    }

    @media (max-width: $mobile-l) {
        margin-top: 100px;
    }
}

.s-steps__column {
    flex: 1 0 auto;
}

.s-steps__column-center {
    position: relative;
    max-width: 96px;
    width: 100%;

    @media (max-width: $mobile-m) {
        max-width: 70px;
    }
}

.s-steps__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .ss-card {
        
        &:not(:last-child) {
            margin-bottom: 300px;

            @media (max-width: $tablet) {
                margin-bottom: 200px;
            }
        }
    }
}

.s-steps__line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    & svg {
        width: initial;
        height: initial;
    }

    &_active {
        height: 0;
        overflow: hidden;
    }
}

// Карточка
$ssCardTranslateX: 100px;
$ssCardTransition: .5s;

.ss-card {
    position: relative;

    &._active {

        & .func-icon {

            & svg {
                fill: $firm-accent;
            }
        }
    }

    &_row {

        & .ss-card__content {
            right: -60px;
            transform: translate(100%, 0);

            @media (max-width: $laptop) {
                right: -40px;
            }

            @media (max-width: 500px) {
                right: -30px;
            }

            @media (max-width: $mobile-l) {
                right: -20px;
            }
        }

        &.ss-card_center {
    
            & .ss-card__content {
                top: 50%;
                transform: translate(100%, -50%);
            }
        }
        & .ss-card__title,
        & .ss-card__text {
            transform: translate($ssCardTranslateX, 0);
            opacity: 0;
        }
    }

    &_row-reverse {

        & .ss-card__content {
            left: -60px;
            transform: translate(-100%, 0);

            @media (max-width: $laptop) {
                left: -40px;
            }

            @media (max-width: $tablet) {
                left: auto;
                right: -40px;
                transform: translate(100%, 0);
            }

            @media (max-width: 500px) {
                right: -30px;
            }

            @media (max-width: $mobile-l) {
                right: -20px;
            }
        }

        &.ss-card_center {
    
            & .ss-card__content {
                top: 50%;
                transform: translate(-100%, -50%);

                @media (max-width: $tablet) {
                    transform: translate(100%, -50%);
                }
            }
        }

        & .ss-card__title,
        & .ss-card__text {
            transform: translate(-$ssCardTranslateX,0);

            @media (max-width: $tablet) {
                transform: translate($ssCardTranslateX,0);
            }
        }
    }

    &_center {

        & .ss-card__content {
            top: 50%;
        }
    }

    &_top {

        & .ss-card__content {
            top: 0;

            @media (max-width: $mobile-l) {
                top: 50%;
                transform: translate(100%, -50%);
            }
        }
    }
}

.ss-card__wrap {
    display: flex;
}

.ss-card__icon {
    position: relative;
    z-index: 1;

    & .func-icon {
        position: relative;
    
        &::before {
            content: '';
            @include center(xy);
            z-index: -1;
            width: calc(100% + 24px);
            height: calc(100% + 24px);
            background: #fff;
        }
    }
}

.ss-card__content {
    position: absolute;
    z-index: 1;
    transform: translate(100%, 0);
    max-width: 400px;
    width: max-content;

    @media (max-width: 1100px) {
        max-width: 340px;
    }

    @media (max-width: 900px) {
        max-width: 300px;
    }

    @media (max-width: 830px) {
        max-width: 280px;
    }

    @media (max-width: $tablet) {
        max-width: none;
        width: calc(100vw - 168px);
    }

    @media (max-width: $mobile-l) {
        max-width: none;
        width: calc(100vw - 138px);
    }
}

.ss-card__title {
    max-width: 350px;
    width: 100%;
    font-size: 38px;
    font-weight: 300;
    color: $firm-dark;
    opacity: 0; 
    transition: $ssCardTransition;

    @media (max-width: $laptop) {
        font-size: 32px;
    }

    @media (max-width: 500px) {
        font-size: 28px;
    }

    @media (max-width: $mobile-l) {
        font-size: 24px;
    }
}

.ss-card__text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 24px;
    opacity: 0;
    transition: $ssCardTransition;

    @media (max-width: $laptop) {
        margin-top: 20px;
    }

    @media (max-width: 500px) {
        margin-top: 12px;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}