.workers {
    background: $frame-light;
    padding: 96px 0;

    @media (max-width: $tablet) {
        padding: 50px 0;
    }
}

.workers__wrap {

}

.workers__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
    gap: 24px 27px;
    overflow-x: auto;
    padding-bottom: 20px;

    @include scrollbar(100%, 4px, $text-gray-light)

    // @media (max-width: 900px) {
    //     grid-template-columns: 1fr 1fr;
    // }

    // @media (max-width: $mobile-l) {
    //     grid-template-columns: 1fr;
    // }
}

// Карточка сотрудника
.w-card {

}

.w-card__avatar {
    width: 72px;
    height: 72px;
    border-radius: $radius-round;
    overflow: hidden;

    & img {
        object-fit: cover;
    }
}

.w-card__content {
    margin-top: 24px;
}

.w-card__name {
    font-size: 21px;
    font-weight: 400;
}

.w-card__post {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: $firm-accent;
    margin-top: 8px;
}

.w-card__separator {
    width: 100%;
    height: 1px;
    background: $border-dark;
    margin: 24px 0;
}

.w-card__contacts {

}

.w-card__contact {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &:hover {
        
        @media (min-width: $min-hover) {

            & .w-card__contact-text {
                color: $link-hover
            }
        }
    }

    &:active {

        & .w-card__contact-text {
            color: $link-active;
        }
    }
}

.w-card__contact-icon {
    width: 20px;
    height: 20px;

    & svg {
        fill: $text-gray-light;
    }
}

.w-card__contact-text {
    font-size: 16px;
    font-weight: 400;
    color: $text-dark;
    margin-left: 16px;
}