.st-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: $radius-m;
    padding: 24px;
    transition: $tr;
    cursor: pointer;

    &:hover {
        
        @media (min-width: $min-hover) {
            transform: translate(0, -4px);
            box-shadow: $shadow-blue;
            
            & .st-card__title {
                color: $firm-accent;
            }
        }
    }

    &:active {
        transform: translate(0, 0);
        box-shadow: none;

        @media (max-width: $tablet) {
            transform: translate(0, 4px);
        }
        
        & .st-card__title {
            color: $firm-accent;
        }
    }

    @media (max-width: $tablet) {
        box-shadow: $shadow-blue;
    }
}

.st-card__icon {
    width: 32px;
    height: 32px;
}

.st-card__content {
    height: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: auto;
}

.st-card__title {
    font-size: 21px;
    font-weight: 400;
    color: $firm-dark;
    line-height: 1.2;
    transition: $tr;
}

.st-card__text {
    font-size: 16px;
    color: $text-gray-dark;
    line-height: 1.4;
    margin-top: 12px;
}