.func-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $firm-light;
    border-radius: $radius-round;
    box-shadow: $shadow-blue;

    & svg {
        transition: $tr;
    }
    
    &_s {
        width: 56px;
        height: 56px;
        
        & svg {
            width: 28px;
            height: 28px;
        }
    }
    
    &_m {
        width: 72px;
        height: 72px;
        
        & svg {
            width: 32px;
            height: 32px;
        }

        @media (max-width: $mobile-l) {
            width: 60px;
            height: 60px;

            & svg {
                width: 28px;
                height: 28px;
            }
        }

        @media (max-width: $mobile-m) {
            width: 50px;
            height: 50px;

            & svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    &_l {
        width: 96px;
        height: 96px;
        
        & svg {
            width: 32px;
            height: 32px;
        }

        @media (max-width: $laptop) {
            width: 80px;
            height: 80px;

            & svg {
                width: 28px;
                height: 28px;
            }
        }

        @media (max-width: $mobile-l) {
            width: 70px;
            height: 70px;

            & svg {
                width: 26px;
                height: 26px;
            }
        }
    }

    &_gray {

        & svg {
            fill: $text-gray-dark;
        }
    }

    &_blue {

        & svg {
            fill: $firm-accent;
        }

    }
}