// Вращение элемента вокруг своей оси
@keyframes spinAround {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes showFromDown {
    from {
        opacity: 0;
        transform: translate(0, 80px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

