@import '_mixins'; // Миксины
@import '_fonts'; // Шрифты
@import '_vars'; // Переменные
@import '_reset'; // Сброс css


// Общие стили для страниц
// @include selection {} // Стиль выделения элементов на странице
// @include scrollbar(); // Стиль скроллбара


html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-main;
    color: $text-gray-dark;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & > .content {
        flex: 1 0 auto;
    }
}

@import '_grid'; // Сетка

// Анимация
@import './_animation';

// Компоненты
// @import './components/_forms';
@import './components/_modal';

// Елементы
@import './elements/button';
@import './elements/func-icon';
 
// Текстовые компоненты
@import './components/text/_text';
@import './components/text/_titles';
@import './components/menu';
@import './components/popup-offer';
@import './components/section';
@import './components/sub-menu';
@import './components/slider';
@import './components/breadcrumbs';

@import './components/cards/service-card';
@import './components/cards/st-card';
@import './components/cards/sml-card';

// Секции
@import './sections/_header';
@import './sections/_main';
@import './sections/s-services';
@import './sections/ask-question';
@import './sections/s-steps';
@import './sections/_footer';

// Страница "О нас"
@import './sections/about-content';
@import './sections/our-mission';
@import './sections/workers';
@import './sections/a-video';
@import './sections/a-clients';
@import './sections/comfort-advantages';
@import './sections/more-func';

@import './sections/tech-descr';
@import './sections/s-product';
@import './sections/s-tech-gallery';
@import './sections/s-tech-advant';


@import './sections/img-full';
@import './sections/s-text';
@import './sections/s-interface';
@import './sections/s-available';
@import './sections/s-script';

// Страница освещения
@import './sections/sml';
@import './sections/sli';
@import './sections/scm';
